# PostgreSQL authentication info
POSTGRES_USER="database-user"
POSTGRES_PASSWORD="database-password"
POSTGRES_DB="database-name"

# PgAdmin authentication info
PGADMIN_DEFAULT_EMAIL="admin-email"
PGADMIN_DEFAULT_PASSWORD="admin-password"